<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/MyDevelopment/DemoAutomation">
        <classes>
            <class name="com.demo.automation.testcases.HomePageTest">
                <methods>
                    <include name="homePageTitleTest"/>
                    <include name="verifyLoginLinkTest"/>
                    <include name="doLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>